#canvas {
	display: none;
}

#main-wrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 20px;
}

#camera {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 1px solid var(--cl-grey);
	border-radius: 12px;
	padding-bottom: 40px;
	overflow: hidden;
}

#camera-warn {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 80px;
	margin-bottom: 80px;
}

#video {
	display: none;
	width: 100%;
	min-width: 280px;
	max-width: 1024px;
	height: auto;
}

#camera-buttons {
	display: flex;
	gap: 20px;
}

#sticker-wrapper {
	position: relative;
	display: flex;
	flex: 0 0 150px;
}

#sticker-list {
	position: absolute;
	inset:0;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 10px 0px;
}

.sticker {
	flex-shrink: 0;
	width: 100px;
	height: 100px;
	object-fit: contain;
	border-radius: 12px;
}

.sticker:hover {
	background-color: var(--cl-grey);
}

.sticker.selected {
	outline: 2px dotted var(--cl-primary);
}

@media (max-width: 700px) {
	#main-wrapper { flex-direction: column; }
	#sticker-wrapper { flex-basis: auto; height: 130px; }
	#sticker-list {
		flex-direction: row;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 0px 10px;
	}
}

#start-button:disabled {
	background-color: grey;
	color: var(--cl-grey);
}
